html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  position: relative;
  font-family: "Georgia", Times, Times New Roman, serif;
  -webkit-box-shadow: 0.1px 2px 5px rgba(0, 0, 0, 0.603);
          box-shadow: 0.1px 2px 5px rgba(0, 0, 0, 0.603);
  background-color: #ffffff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  color: black;
  background-color: #ffffff;
  border-color: #cccccc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

@media screen and (max-width: 420px) {
  nav {
    min-height: 15vh;
  }
}

body {
  overflow-x: hidden;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("../images/papyrus.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#title {
  color: #ffffff;
  font-size: 1.25em;
  letter-spacing: 1px;
  background-color: #4aaaa5;
  padding: 10px 20px 5px 20px;
  margin: 20px 0px 0px 0px;
  -webkit-box-shadow: 0px 1px 1px #4aaaa5;
          box-shadow: 0px 1px 1px #4aaaa5;
}

@media screen and (max-width: 420px) {
  #title {
    font-size: 0.8em;
    margin: 30px 160px 0px 0px;
  }
}

#title-link {
  text-decoration: none;
  color: inherit;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background-color: #ffffff;
  margin: 20px 0px 0px 0px;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  color: #777777;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 5px 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .nav-links li a {
    font-size: 0.8em;
  }
}

.nav-links li a:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-shadow: 1.8px 1.8px 2.75px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 420px) {
  body {
    overflow-x: hidden;
  }
  .nav-links li a {
    font-size: 0.9em;
  }
  .nav-links {
    position: absolute;
    right: 50px;
    height: 10vh;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc( 100vh - 80px - 90px);
}

@media screen and (max-width: 980px) {
  .main {
    min-height: calc(100vh - 95px - 61.59px);
  }
}

@media screen and (max-width: 768px) {
  .main {
    min-height: calc(100vh - 82px - 102px);
    margin: 10px 10px 10px 10px;
  }
}

@media screen and (max-width: 640px) {
  .main {
    min-height: calc(100vh - 77px - 70px);
    margin: 10px 10px 10px 10px;
  }
}

.body-content {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #dddddd;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.836);
          box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.836);
}

#about-title {
  color: #4aaaa5;
  padding: 15px 0px 0px 30px;
  font-size: 2.5em;
}

#portfolio-title {
  color: #4aaaa5;
  padding: 15px 0px 0px 30px;
  font-size: 2.5em;
}

#line {
  width: 95%;
  margin-left: 2.5%;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  text-align: center;
  background-color: #dddddd;
}

.image1 {
  position: relative;
  margin: 3% 0px 0% 0px;
}

.image1-text {
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  width: 100%;
  background-color: #4aaaa5d2;
  padding: 5px 0px 5px 0px;
  margin: 0;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 980px) {
  .image1-text {
    font-size: 1em;
  }
}

.image2 {
  position: relative;
  margin: 3% 0px 0% 0px;
}

.image2-text {
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  width: 100%;
  background-color: #4aaaa5d2;
  padding: 5px 0px 5px 0px;
  margin: 0;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 980px) {
  .image2-text {
    font-size: 1em;
  }
}

.image3 {
  position: relative;
  margin: 3% 0px 3% 0px;
}

.image3-text {
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  width: 100%;
  background-color: #4aaaa5d2;
  padding: 5px 0px 5px 0px;
  margin: 0;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 980px) {
  .image3-text {
    font-size: 1em;
  }
}

.image4 {
  position: relative;
  margin: 3% 0px 3% 0px;
}

.image4-text {
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  width: 100%;
  background-color: #4aaaa5d2;
  padding: 5px 0px 5px 0px;
  margin: 0;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 980px) {
  .image4-text {
    font-size: 1em;
  }
}

#profile-photo {
  float: left;
  height: 15%;
  width: 15%;
  margin: 15px 30px 0px 30px;
}

@media screen and (max-width: 800px) {
  #profile-photo {
    height: 25%;
    width: 25%;
  }
}

#about {
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  line-height: 40px;
  font-size: 1.2em;
  color: #777777;
}

.contact-form {
  margin: 15px 30px 15px 30px;
  color: #777777;
}

#name {
  width: 100%;
}

#email {
  width: 100%;
}

#comment {
  width: 100%;
}

#submit {
  background-color: #4aaaa5;
  padding: 5px 10px 5px 10px;
  border-style: none;
  color: #ffffff;
}

footer {
  background-color: #666666;
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-color: #4aaaa5;
  height: 10vh;
  text-align: center;
  -webkit-box-shadow: 1px 0.6px 5px black;
          box-shadow: 1px 0.6px 5px black;
}

#copyright {
  width: 100%;
  color: #ffffff;
  position: relative;
  margin-top: 28px;
  text-align: center;
  font-size: 0.8em;
}
/*# sourceMappingURL=style.css.map */